<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1000995315375-noj7c3nde2uqcqqi581936nsp5g38b5u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1000995315375-noj7c3nde2uqcqqi581936nsp5g38b5u</string>
	<key>API_KEY</key>
	<string>AIzaSyCvFjPNpZGhQWoqhJ7jOd4iU8mzhKdYKSY</string>
	<key>GCM_SENDER_ID</key>
	<string>1000995315375</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nut.PrintTicket</string>
	<key>PROJECT_ID</key>
	<string>printticket-b8025</string>
	<key>STORAGE_BUCKET</key>
	<string>printticket-b8025.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1000995315375:ios:f10f6c660b1c4085fd7e5a</string>
</dict>
</plist>